<h2>Follow Users</h2>
  <% if @users.present? %>
  <table class='table'>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th>followers</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <td><%= user.follower_user.count %></td>
      </tr>
        <% end %>
    </tbody>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
   </table>
